build/*
.idea/*
node_modules/*
package-lock.json
public/dist/*

# Ignore compiled artifacts and cache files
.sui/
.sui_client.yaml
.sui_config/
storage/
*.move.mv

# Ignore build artifacts
Move.lock.bak
*.log
*.tmp
.DS_Store
